<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>康晋食品有限公司</title>
    <link rel="icon" href="/admin/images/icon.png">
    <link rel="stylesheet" href="/admin/css/base.css">
    <link rel="stylesheet" href="/admin/css/antd.min.css">
    <link rel="stylesheet" href="/admin/css/admin_common.css">
    <link rel="stylesheet" href="/admin/css/admin_Lproductlist.css">


</head>
<body>
<div id="page"></div>
</body>
<script src="/fetch.js"></script>
<script src="/admin/js/admin_Lproductlist.js"></script>
</html>