<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>营养保健详情</title>
    <link rel="stylesheet" href="/admin/css/base.css">
    <link rel="stylesheet" href="/admin/css/antd.min.css">
    <link rel="stylesheet" href="/admin/css/admin_common.css">
    <link rel="stylesheet" href="/admin/css/admin_newscontent.css">
    <link rel="stylesheet" href="/admin/css/wangEditor.css">
    <script src="/admin/js/jquery-2.2.1.js"></script>
    <script src="/admin/js/wangEditor.js"></script>
</head>
<body>
<div id="NewsContent"></div>
</body>
<script src="/fetch.js"></script>
<script src="/admin/js/healthContent.js"></script>
</html>