.NewsContent {
  width: 800px;
  min-height: 574px;
  margin: 0 auto;
  > div {
    margin-top: 20px;
    overflow: hidden;
  }
  > div > span {
    display: block;
    width: 10%;
    text-align: right;
    line-height: 24px;
    float: left;
  }
  input {
    display: block;
    width: 87%;
    float: right;
  }
  textarea {
    display: block;
    resize: none;
    height: 150px;
    width: 87%;
    float: right;
  }

  .proID {
    width: 29%;
    float: left;
    margin-left: 56px;
    overflow: hidden;
    span {
      display: block;
      width: 10%;
      line-height: 24px;
      text-align: right;
      float: left;
    }
    input {
      width: 79%;
    }
  }
  .proName {
    width: 63%;
    float: right;
    overflow: hidden;
    span {
      display: block;
      width: 12%;
      line-height: 24px;
      text-align: right;
      float: left;
    }
  }

  .newsButton {
    text-align: center;
  }
  .ant-upload-list {
    margin-left: 23px;
  }
  .ant-btn {
    margin-left: 77px;
    margin-bottom: 30px;
  }
}