.NewsContent{
  width:800px;
  min-height:574px;
  margin:0 auto;
  >div{
    margin-top: 20px;
    overflow: hidden;
  }
  >div>span{
    display: block;
    width:10%;
    text-align: right;
    float: left;
  }
  input{
    display: block;
    width:87%;
    float: right;
  }
  textarea{
    display: block;
    resize: none;
    height:300px;
    width:87%;
    float: right;
  }

  .abstract{
    textarea{
      height:150px;
    }
  }
  .newsButton{
    text-align: center;
  }
  .ant-upload-list{
    margin-left: 23px;
  }
  .ant-btn{
    margin-left: 77px;
    margin-bottom: 30px;
  }
}