
.header{
    height:80px;
    padding: 14px 26px;
    background: #2b3643;
}
.header img{
    float: left;
}
.header .logo{
    margin-top: 12px;
    margin-left: 10px;
}
.header .ant-dropdown-link{
    line-height:52px;
    color: #fff;
    font-size:16px;
    float:right;
}
.side_left{
    width: 100%;
    height: 100%;
    background: #364150;
    min-height:540px;
}
.side_left .ant-menu-submenu-inline.ant-menu-submenu{
    background: #364150;
    border-bottom: 1px solid #3d4957;
    color: #f7f7f7;
}
.side_left .ant-menu-submenu-inline>.ant-menu-submenu-title:after{
    font-size: 16px;
}
.side_left .ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title, .ant-menu-vertical .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title{
    font-size: 14px;
}
.side_left .ant-menu-submenu-inline.ant-menu-submenu-selected.ant-menu-submenu{
    background: #36c6d3;
    color: #fff;
}
.side_left a:hover{
    color: #fff;
}
.side_left .ant-menu-submenu-inline>.ant-menu-submenu-title:after{
    transform: scale(.66666667) rotate(-90deg);
}
.crumbs{
    padding-left: 20px;
    border-bottom: 1px solid #bbb;
    line-height: 42px;
}
.crumbs .ant-breadcrumb-link{
    font-size: 14px;
    color: #323232;
}
.crumbs a:hover{
    color: #101010;
}
.crumbs .ant-breadcrumb-separator{
    font-family: Consolas,sans-serif;
    font-size: 20px;
}
.footer{
    height:46px;
    background: #28303b;
}
.footer p{
    font-size:12px;
    text-align:center;
    line-height:46px;
    color:#fff;
}
