<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>康晋食品有限公司</title>
    <link rel="icon" href="/index/images/icon.png">
    <link rel="stylesheet" href="/index/css/base.css">
    <link rel="stylesheet" href="/index/css/common.css">
    <link rel="stylesheet" href="/index/css/Lproductlist.css">

</head>
<body>
<!--企业文化页-->
<div id="page"></div>
<script src="/index/js/Lproductlist.js"></script>
</body>
</html>
<!--访问路径-->
<!--http://localhost:3000/views/Lproductlist.html-->