<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>康晋食品有限公司</title>
    <link rel="icon" href="/index/images/icon.png">
    <link rel="stylesheet" href="/index/css/base.css">
    <link rel="stylesheet" href="/index/css/common.css">
    <link rel="stylesheet" href="/index/css/d_newsList.css">
    <!--<script src="../index/js/react.js"></script>-->
    <!--<script src="../index/js/react-dom.js"></script>-->
    <!--<script src="../index/js/browser.min.js"></script>-->
    <!--<script type="text/babel" src="../../dev/newsList.jsx"></script>-->
</head>
<body>
    <div id="d_newsList"></div>
</body>
</html>
<script src="/index/js/newsList.js"></script>
